<a href="https://colab.research.google.com/github/arnnvl/DIA_IRE/blob/main/ML_TD2_Arnaud_Navellou.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
olympics_data = pd.read_csv('olympics.csv')

In [5]:
initial_info = olympics_data.info()
initial_head = olympics_data.head()
initial_description = olympics_data.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    object
 1   1       148 non-null    object
 2   2       148 non-null    object
 3   3       148 non-null    object
 4   4       148 non-null    object
 5   5       148 non-null    object
 6   6       148 non-null    object
 7   7       148 non-null    object
 8   8       148 non-null    object
 9   9       148 non-null    object
 10  10      148 non-null    object
 11  11      148 non-null    object
 12  12      148 non-null    object
 13  13      148 non-null    object
 14  14      148 non-null    object
 15  15      148 non-null    object
dtypes: object(16)
memory usage: 18.6+ KB

In [6]:
olympics_data.columns = olympics_data.iloc[0]
olympics_data = olympics_data.drop(0)

In [11]:
olympics_data.rename(columns={olympics_data.columns[0]: 'Country',
                              '№ Summer': 'Summer_Olympics',
                              '01 !': 'Gold_Summer',
                              '02 !': 'Silver_Summer',
                              '03 !': 'Bronze_Summer',
                              'Total': 'Total_Summer',
                              '№ Winter': 'Winter_Olympics',
                              '01 !': 'Gold_Winter',
                              '02 !': 'Silver_Winter',
                              '03 !': 'Bronze_Winter',
                              'Total': 'Total_Winter',
                              '№ Games': 'Total_Olympics',
                              '01 !': 'Gold_Total',
                              '02 !': 'Silver_Total',
                              '03 !': 'Bronze_Total',
                              'Combined total': 'Total_Medals'}, inplace=True)

In [12]:
missing_values = olympics_data['Country'].isnull().sum()
print(missing_values)

0

In [14]:
numeric_columns = ['Summer_Olympics', 'Gold_Summer', 'Silver_Summer', 'Bronze_Summer', 'Total_Summer',
                   'Winter_Olympics', 'Gold_Winter', 'Silver_Winter', 'Bronze_Winter', 'Total_Winter',
                   'Total_Olympics', 'Gold_Total', 'Silver_Total', 'Bronze_Total', 'Total_Medals']

In [17]:
print(olympics_data.head())

0                  Country Summer_Olympics Gold_Total Silver_Total  \
1        Afghanistan (AFG)              13          0            0
2            Algeria (ALG)              12          5            2
3          Argentina (ARG)              23         18           24
4            Armenia (ARM)               5          1            2
5  Australasia (ANZ) [ANZ]               2          3            4

0 Bronze_Total Total_Winter Winter_Olympics Gold_Total Silver_Total  \
1            2            2               0          0            0
2            8           15               3          0            0
3           28           70              18          0            0
4            9           12               6          0            0
5            5           12               0          0            0

0 Bronze_Total Total_Winter Total_Olympics Gold_Total Silver_Total  \
1            0            0             13          0            0
2            0            0             15          5            2
3            0            0             41         18           24
4            0            0             11          1            2
5            0            0              2          3            4

0 Bronze_Total Total_Medals
1            2            2
2            8           15
3           28           70
4            9           12
5            5           12

In [18]:
olympics_data.columns = ['Country', 'Summer_Olympics', 'Gold_Summer', 'Silver_Summer', 'Bronze_Summer', 'Total_Summer',
                         'Winter_Olympics', 'Gold_Winter', 'Silver_Winter', 'Bronze_Winter', 'Total_Winter',
                         'Total_Olympics', 'Gold_Total', 'Silver_Total', 'Bronze_Total', 'Total_Medals']

In [19]:
numeric_columns = ['Summer_Olympics', 'Gold_Summer', 'Silver_Summer', 'Bronze_Summer', 'Total_Summer',
                   'Winter_Olympics', 'Gold_Winter', 'Silver_Winter', 'Bronze_Winter', 'Total_Winter',
                   'Total_Olympics', 'Gold_Total', 'Silver_Total', 'Bronze_Total', 'Total_Medals']

olympics_data[numeric_columns] = olympics_data[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [20]:
updated_info = olympics_data.info()
updated_head = olympics_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 1 to 147
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          147 non-null    object
 1   Summer_Olympics  147 non-null    int64
 2   Gold_Summer      147 non-null    int64
 3   Silver_Summer    147 non-null    int64
 4   Bronze_Summer    147 non-null    int64
 5   Total_Summer     147 non-null    int64
 6   Winter_Olympics  147 non-null    int64
 7   Gold_Winter      147 non-null    int64
 8   Silver_Winter    147 non-null    int64
 9   Bronze_Winter    147 non-null    int64
 10  Total_Winter     147 non-null    int64
 11  Total_Olympics   147 non-null    int64
 12  Gold_Total       147 non-null    int64
 13  Silver_Total     147 non-null    int64
 14  Bronze_Total     147 non-null    int64
 15  Total_Medals     147 non-null    int64
dtypes: int64(15), object(1)
memory usage: 18.5+ KB

In [21]:
new_file_path = 'cleaned_olympics.csv'

olympics_data.to_csv(new_file_path, index=False)